# Hurricane Katrina  
## Analytics Project I - Project 1 - Hurricane Katrina

In [8]:
import pandas as pd
import numpy as np

## Dataset Creation

In [9]:
import tropycal.tracks as tracks
import datetime as dt

In [10]:
basin = tracks.TrackDataset(basin='north_atlantic',source='hurdat',include_btk=False)

--> Starting to read in HURDAT2 data
--> Completed reading in HURDAT2 data (0.87 seconds)

In [11]:
print(basin)

<tropycal.tracks.Dataset>
Dataset Summary:
    Basin:             north_atlantic
    Source:            hurdat
    Number of storms:  1952
    Maximum wind:      165 knots (Allen 1980)
    Minimum pressure:  882 hPa (Wilma 2005)
    Year range:        1851 — 2022

In [12]:
basin.to_dataframe()

,all_storms,named_storms,hurricanes,major_hurricanes,ace,start_time,end_time
season,,,,,,,
1851,6,6,3,1,36.1,1851-06-25 00:00:00,1851-10-19 18:00:00
1852,5,5,5,1,73.4,1852-08-19 00:00:00,1852-10-11 18:00:00
1853,8,8,4,2,76.4,1853-08-05 12:00:00,1853-10-22 06:00:00
1854,5,5,3,1,31.1,1854-06-25 00:00:00,1854-10-22 18:00:00
1855,5,5,4,1,18.2,1855-08-06 12:00:00,1855-09-17 06:00:00
...,...,...,...,...,...,...,...
2018,16,15,8,2,132.5,2018-05-25 12:00:00,2018-10-31 12:00:00
2019,20,18,6,3,132.3,2019-05-20 18:00:00,2019-11-24 18:00:00
2020,31,30,14,7,180.3,2020-05-16 18:00:00,2020-11-18 12:00:00
2021,21,21,7,4,145.3,2021-05-22 06:00:00,2021-11-07 06:00:00
2022,16,14,8,2,94.7,2022-06-05 00:00:00,2022-11-11 12:00:00

#### import hurricane cost dataset (hc_df):  
https://www.ncei.noaa.gov/access/billions/dcmi.pdf

In [13]:
hc_df = pd.read_csv('./Data_From_Code/HurricaneCostData.csv')

In [14]:
hc_df.head()

     hName  Year Category  Adjusted_2023_Cost_BDollars
0  Katrina  2005        3                        195.0
1   Harvey  2017        4                        155.0
2      Ian  2022        4                        115.2
3    Maria  2017        4                        111.6
4    Sandy  2012        1                         85.9

In [15]:
hurricaneNames = list(hc_df['hName'])
hurricaneNames

['Katrina',
 'Harvey',
 'Ian',
 'Maria',
 'Sandy',
 'Ida',
 'Irma',
 'Andrew',
 'Ike',
 'Ivan',
 'Michael',
 'Wilma',
 'Florence',
 'Rita',
 'Laura',
 'Charley',
 'Hugo',
 'Irene',
 'Frances',
 'Agnes',
 'Allison',
 'Betsy',
 'Matthew',
 'Jeanne',
 'Camille',
 'Floyd',
 'Georges',
 'Fran',
 'Diane',
 'Opal',
 'Alicia',
 'Isabel',
 'Sally',
 'Gustav',
 'Celia',
 'Frederic',
 'Iniki',
 'Long Islan Express',
 'Great Atlantic Hurricane',
 'Imelda',
 'Isaias',
 'Carol',
 'Zeta',
 'Marilyn',
 'Juan',
 'Donna',
 'Dennis',
 'Isaac',
 'Elena',
 'Lee',
 'Delta',
 'Bob']

##### there are multiple hurricanes with repeating names:

In [16]:
for name in hurricaneNames:
    storm = basin.search_name(name)
    print(name, storm)

Katrina [1981, 1999, 2005]
Harvey [1981, 1993, 1999, 2005, 2011, 2017]
Ian [2016, 2022]
Maria [2005, 2011, 2017]
Sandy [2012]
Ida [2009, 2015, 2021]
Irma [1978, 2017]
Andrew [1986, 1992]
Ike [2008]
Ivan [1980, 1998, 2004]
Michael [2000, 2012, 2018]
Wilma [2005]
Florence [1953, 1954, 1960, 1964, 1988, 1994, 2000, 2006, 2012, 2018]
Rita [2005]
Laura [1971, 2008, 2020]
Charley [1980, 1986, 1992, 1998, 2004]
Hugo [1989]
Irene [1959, 1971, 1981, 1999, 2005, 2011]
Frances [1961, 1968, 1976, 1980, 1986, 1992, 1998, 2004]
Agnes [1972]
Allison [1989, 1995, 2001]
Betsy [1956, 1961, 1965]
Matthew [2004, 2010, 2016]
Jeanne [1980, 1998, 2004]
Camille [1969]
Floyd [1981, 1987, 1993, 1999]
Georges [1980, 1998]
Fran [1973, 1984, 1990, 1996]
Diane [1955]
Opal [1995]
Alicia [1983]
Isabel [1985, 2003]
Sally [2020]
Gustav [1984, 1990, 1996, 2002, 2008]
Celia [1962, 1966, 1970]
Frederic [1979]
Iniki []
Long Islan Express []
Great Atlantic Hurricane []
Imelda [2019]
Isaias [2020]
Carol [1953, 1954, 1965]
Zeta [2005, 2020]
Marilyn [1995]
Juan [1985, 2003]
Donna [1960]
Dennis [1981, 1987, 1993, 1999, 2005]
Isaac [1988, 2000, 2006, 2012, 2018]
Elena [1965, 1979, 1985]
Lee [2005, 2011, 2017]
Delta [1972, 2005, 2020]
Bob [1979, 1985, 1991]

...but we are interested only in hurricanes we have cost data for:

In [17]:
hNamesDates = hc_df[['hName', 'Year']]
hNamesDates.head()

     hName  Year
0  Katrina  2005
1   Harvey  2017
2      Ian  2022
3    Maria  2017
4    Sandy  2012

In [18]:
basin.get_storm(('Michael', 2018))['name']

'MICHAEL'

In [19]:
# import tropycal.tracks as tracks

# Create a TrackDataset object for the North Atlantic basin
# basin = tracks.TrackDataset(basin='north_atlantic')

# Create a dictionary to store the storm data
stormsData = {}
for index, row in hNamesDates.iterrows():
    try:
        # print(row.hName, row.Year)
        # Create a dictionary to store the storm data
        stormsData[row.hName] = {}
        # Load the storm data
        stormsData[row.hName] = basin.get_storm((row.hName, row.Year))
    except Exception as e:
        print(e)
        continue
stormsData

Storm not found
Storm not found
Storm not found

{'Katrina': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  902 hPa
     Start Time:        1800 UTC 23 August 2005
     End Time:          1800 UTC 30 August 2005

 Variables:
     time        (datetime) [2005-08-23 18:00:00 .... 2005-08-31 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [23.1 .... 40.1]
     lon         (float64) [-75.1 .... -82.9]
     vmax        (int32) [30 .... 25]
     mslp        (int32) [1008 .... 996]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL122005
     operational_id:  AL122005
     name:            KATRINA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             20.0
     realtime:        False
     invest:          False
     subset:          False,
 'Harvey': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      115 knots
     Minimum Pressure:  937 hPa
     Start Time:        0600 UTC 17 August 2017
     End Time:          0000 UTC 01 September 2017

 Variables:
     time        (datetime) [2017-08-16 06:00:00 .... 2017-09-02 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [13.7 .... 38.2]
     lon         (float64) [-45.8 .... -84.7]
     vmax        (int32) [25 .... 15]
     mslp        (int32) [1013 .... 1013]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092017
     operational_id:  AL092017
     name:            HARVEY
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             11.4
     realtime:        False
     invest:          False
     subset:          False,
 'Ian': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  937 hPa
     Start Time:        0600 UTC 23 September 2022
     End Time:          1800 UTC 30 September 2022

 Variables:
     time        (datetime) [2022-09-22 18:00:00 .... 2022-10-01 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [12.3 .... 35.3]
     lon         (float64) [-66.3 .... -79.7]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 999]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092022
     operational_id:  AL092022
     name:            IAN
     year:            2022
     season:          2022
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             17.5
     realtime:        False
     invest:          False
     subset:          False,
 'Maria': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  908 hPa
     Start Time:        1200 UTC 16 September 2017
     End Time:          1200 UTC 30 September 2017

 Variables:
     time        (datetime) [2017-09-16 12:00:00 .... 2017-10-02 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [12.2 .... 48.0]
     lon         (float64) [-49.7 .... -17.0]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 1016]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL152017
     operational_id:  AL152017
     name:            MARIA
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             44.8
     realtime:        False
     invest:          False
     subset:          False,
 'Sandy': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  940 hPa
     Start Time:        1200 UTC 22 October 2012
     End Time:          1800 UTC 29 October 2012

 Variables:
     time        (datetime) [2012-10-21 18:00:00 .... 2012-10-31 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [14.3 .... 41.5]
     lon         (float64) [-77.4 .... -80.7]
     vmax        (int32) [25 .... 30]
     mslp        (int32) [1006 .... 995]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL182012
     operational_id:  AL182012
     name:            SANDY
     year:            2012
     season:          2012
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             13.7
     realtime:        False
     invest:          False
     subset:          False,
 'Ida': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  929 hPa
     Start Time:        1200 UTC 26 August 2021
     End Time:          0600 UTC 01 September 2021

 Variables:
     time        (datetime) [2021-08-26 12:00:00 .... 2021-09-04 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [16.5 .... 46.6]
     lon         (float64) [-78.9 .... -63.5]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 999]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092021
     operational_id:  AL092021
     name:            IDA
     year:            2021
     season:          2021
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             10.6
     realtime:        False
     invest:          False
     subset:          False,
 'Irma': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      155 knots
     Minimum Pressure:  914 hPa
     Start Time:        0000 UTC 30 August 2017
     End Time:          0000 UTC 12 September 2017

 Variables:
     time        (datetime) [2017-08-30 00:00:00 .... 2017-09-13 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [16.1 .... 36.8]
     lon         (float64) [-26.9 .... -90.1]
     vmax        (int32) [30 .... 15]
     mslp        (int32) [1008 .... 1005]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL112017
     operational_id:  AL112017
     name:            IRMA
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             64.9
     realtime:        False
     invest:          False
     subset:          False,
 'Andrew': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  922 hPa
     Start Time:        1800 UTC 16 August 1992
     End Time:          0600 UTC 28 August 1992

 Variables:
     time        (datetime) [1992-08-16 18:00:00 .... 1992-08-28 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [10.8 .... 35.4]
     lon         (float64) [-35.5 .... -84.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1010 .... 1000]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041992
     operational_id:  AL041992
     name:            ANDREW
     year:            1992
     season:          1992
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             28.4
     realtime:        False
     invest:          False
     subset:          False,
 'Ike': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  935 hPa
     Start Time:        0600 UTC 01 September 2008
     End Time:          0600 UTC 14 September 2008

 Variables:
     time        (datetime) [2008-09-01 06:00:00 .... 2008-09-15 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [17.2 .... 47.2]
     lon         (float64) [-37.0 .... -71.1]
     vmax        (int32) [30 .... 35]
     mslp        (int32) [1006 .... 986]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092008
     operational_id:  AL092008
     name:            IKE
     year:            2008
     season:          2008
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             39.2
     realtime:        False
     invest:          False
     subset:          False,
 'Ivan': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      145 knots
     Minimum Pressure:  910 hPa
     Start Time:        1800 UTC 02 September 2004
     End Time:          0600 UTC 24 September 2004

 Variables:
     time        (datetime) [2004-09-02 18:00:00 .... 2004-09-24 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [9.7 .... 30.1]
     lon         (float64) [-27.6 .... -94.2]
     vmax        (int32) [25 .... 25]
     mslp        (int32) [1009 .... 1009]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092004
     operational_id:  AL092004
     name:            IVAN
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             70.4
     realtime:        False
     invest:          False
     subset:          False,
 'Michael': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  919 hPa
     Start Time:        0600 UTC 07 October 2018
     End Time:          1800 UTC 11 October 2018

 Variables:
     time        (datetime) [2018-10-06 18:00:00 .... 2018-10-15 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [17.8 .... 41.2]
     lon         (float64) [-86.6 .... -10.0]
     vmax        (int32) [25 .... 35]
     mslp        (int32) [1006 .... 1001]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL142018
     operational_id:  AL142018
     name:            MICHAEL
     year:            2018
     season:          2018
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             12.5
     realtime:        False
     invest:          False
     subset:          False,
 'Wilma': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      160 knots
     Minimum Pressure:  882 hPa
     Start Time:        1800 UTC 15 October 2005
     End Time:          1800 UTC 25 October 2005

 Variables:
     time        (datetime) [2005-10-15 18:00:00 .... 2005-10-26 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [17.6 .... 45.5]
     lon         (float64) [-78.5 .... -52.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1004 .... 990]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL252005
     operational_id:  AL242005
     name:            WILMA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             38.9
     realtime:        False
     invest:          False
     subset:          False,
 'Florence': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  937 hPa
     Start Time:        1800 UTC 31 August 2018
     End Time:          0600 UTC 17 September 2018

 Variables:
     time        (datetime) [2018-08-30 06:00:00 .... 2018-09-18 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [12.8 .... 42.2]
     lon         (float64) [-16.9 .... -73.3]
     vmax        (int32) [20 .... 25]
     mslp        (int32) [1008 .... 1006]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL062018
     operational_id:  AL062018
     name:            FLORENCE
     year:            2018
     season:          2018
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             39.7
     realtime:        False
     invest:          False
     subset:          False,
 'Rita': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      155 knots
     Minimum Pressure:  895 hPa
     Start Time:        0000 UTC 18 September 2005
     End Time:          0000 UTC 26 September 2005

 Variables:
     time        (datetime) [2005-09-18 00:00:00 .... 2005-09-26 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [21.3 .... 39.5]
     lon         (float64) [-69.9 .... -88.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1009 .... 1006]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL182005
     operational_id:  AL182005
     name:            RITA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             25.1
     realtime:        False
     invest:          False
     subset:          False,
 'Laura': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  937 hPa
     Start Time:        0000 UTC 20 August 2020
     End Time:          0000 UTC 29 August 2020

 Variables:
     time        (datetime) [2020-08-20 00:00:00 .... 2020-08-29 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [14.4 .... 38.3]
     lon         (float64) [-47.3 .... -84.8]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1008 .... 1004]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL132020
     operational_id:  AL132020
     name:            LAURA
     year:            2020
     season:          2020
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             12.9
     realtime:        False
     invest:          False
     subset:          False,
 'Charley': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  941 hPa
     Start Time:        1200 UTC 09 August 2004
     End Time:          1800 UTC 14 August 2004

 Variables:
     time        (datetime) [2004-08-09 12:00:00 .... 2004-08-15 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.4 .... 41.2]
     lon         (float64) [-59.2 .... -71.1]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1010 .... 1018]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL032004
     operational_id:  AL032004
     name:            CHARLEY
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             10.6
     realtime:        False
     invest:          False
     subset:          False,
 'Hugo': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  918 hPa
     Start Time:        1200 UTC 10 September 1989
     End Time:          1800 UTC 22 September 1989

 Variables:
     time        (datetime) [1989-09-10 12:00:00 .... 1989-09-25 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [13.2 .... 58.0]
     lon         (float64) [-20.0 .... -46.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1010 .... 974]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL111989
     operational_id:  AL111989
     name:            HUGO
     year:            1989
     season:          1989
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             42.7
     realtime:        False
     invest:          False
     subset:          False,
 'Irene': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      105 knots
     Minimum Pressure:  942 hPa
     Start Time:        0000 UTC 21 August 2011
     End Time:          1800 UTC 28 August 2011

 Variables:
     time        (datetime) [2011-08-21 00:00:00 .... 2011-08-30 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... EX]
     lat         (float64) [15.0 .... 53.0]
     lon         (float64) [-59.0 .... -60.0]
     vmax        (int32) [45 .... 40]
     mslp        (int32) [1006 .... 991]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092011
     operational_id:  AL092011
     name:            IRENE
     year:            2011
     season:          2011
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             18.8
     realtime:        False
     invest:          False
     subset:          False,
 'Frances': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  935 hPa
     Start Time:        0000 UTC 25 August 2004
     End Time:          1800 UTC 08 September 2004

 Variables:
     time        (datetime) [2004-08-25 00:00:00 .... 2004-09-10 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.1 .... 47.2]
     lon         (float64) [-35.2 .... -64.2]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1009 .... 1005]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL062004
     operational_id:  AL062004
     name:            FRANCES
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             45.9
     realtime:        False
     invest:          False
     subset:          False,
 'Agnes': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      75 knots
     Minimum Pressure:  977 hPa
     Start Time:        1200 UTC 14 June 1972
     End Time:          0000 UTC 23 June 1972

 Variables:
     time        (datetime) [1972-06-14 12:00:00 .... 1972-06-23 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TS]
     lat         (float64) [20.0 .... 41.7]
     lon         (float64) [-89.0 .... -74.5]
     vmax        (int32) [25 .... 45]

In [20]:
stormsData

{'Katrina': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  902 hPa
     Start Time:        1800 UTC 23 August 2005
     End Time:          1800 UTC 30 August 2005

 Variables:
     time        (datetime) [2005-08-23 18:00:00 .... 2005-08-31 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [23.1 .... 40.1]
     lon         (float64) [-75.1 .... -82.9]
     vmax        (int32) [30 .... 25]
     mslp        (int32) [1008 .... 996]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL122005
     operational_id:  AL122005
     name:            KATRINA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             20.0
     realtime:        False
     invest:          False
     subset:          False,
 'Harvey': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      115 knots
     Minimum Pressure:  937 hPa
     Start Time:        0600 UTC 17 August 2017
     End Time:          0000 UTC 01 September 2017

 Variables:
     time        (datetime) [2017-08-16 06:00:00 .... 2017-09-02 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [13.7 .... 38.2]
     lon         (float64) [-45.8 .... -84.7]
     vmax        (int32) [25 .... 15]
     mslp        (int32) [1013 .... 1013]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092017
     operational_id:  AL092017
     name:            HARVEY
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             11.4
     realtime:        False
     invest:          False
     subset:          False,
 'Ian': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  937 hPa
     Start Time:        0600 UTC 23 September 2022
     End Time:          1800 UTC 30 September 2022

 Variables:
     time        (datetime) [2022-09-22 18:00:00 .... 2022-10-01 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [12.3 .... 35.3]
     lon         (float64) [-66.3 .... -79.7]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 999]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092022
     operational_id:  AL092022
     name:            IAN
     year:            2022
     season:          2022
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             17.5
     realtime:        False
     invest:          False
     subset:          False,
 'Maria': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  908 hPa
     Start Time:        1200 UTC 16 September 2017
     End Time:          1200 UTC 30 September 2017

 Variables:
     time        (datetime) [2017-09-16 12:00:00 .... 2017-10-02 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [12.2 .... 48.0]
     lon         (float64) [-49.7 .... -17.0]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 1016]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL152017
     operational_id:  AL152017
     name:            MARIA
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             44.8
     realtime:        False
     invest:          False
     subset:          False,
 'Sandy': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  940 hPa
     Start Time:        1200 UTC 22 October 2012
     End Time:          1800 UTC 29 October 2012

 Variables:
     time        (datetime) [2012-10-21 18:00:00 .... 2012-10-31 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [14.3 .... 41.5]
     lon         (float64) [-77.4 .... -80.7]
     vmax        (int32) [25 .... 30]
     mslp        (int32) [1006 .... 995]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL182012
     operational_id:  AL182012
     name:            SANDY
     year:            2012
     season:          2012
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             13.7
     realtime:        False
     invest:          False
     subset:          False,
 'Ida': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  929 hPa
     Start Time:        1200 UTC 26 August 2021
     End Time:          0600 UTC 01 September 2021

 Variables:
     time        (datetime) [2021-08-26 12:00:00 .... 2021-09-04 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [16.5 .... 46.6]
     lon         (float64) [-78.9 .... -63.5]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1006 .... 999]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092021
     operational_id:  AL092021
     name:            IDA
     year:            2021
     season:          2021
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             10.6
     realtime:        False
     invest:          False
     subset:          False,
 'Irma': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      155 knots
     Minimum Pressure:  914 hPa
     Start Time:        0000 UTC 30 August 2017
     End Time:          0000 UTC 12 September 2017

 Variables:
     time        (datetime) [2017-08-30 00:00:00 .... 2017-09-13 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [16.1 .... 36.8]
     lon         (float64) [-26.9 .... -90.1]
     vmax        (int32) [30 .... 15]
     mslp        (int32) [1008 .... 1005]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL112017
     operational_id:  AL112017
     name:            IRMA
     year:            2017
     season:          2017
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             64.9
     realtime:        False
     invest:          False
     subset:          False,
 'Andrew': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  922 hPa
     Start Time:        1800 UTC 16 August 1992
     End Time:          0600 UTC 28 August 1992

 Variables:
     time        (datetime) [1992-08-16 18:00:00 .... 1992-08-28 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [10.8 .... 35.4]
     lon         (float64) [-35.5 .... -84.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1010 .... 1000]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041992
     operational_id:  AL041992
     name:            ANDREW
     year:            1992
     season:          1992
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             28.4
     realtime:        False
     invest:          False
     subset:          False,
 'Ike': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  935 hPa
     Start Time:        0600 UTC 01 September 2008
     End Time:          0600 UTC 14 September 2008

 Variables:
     time        (datetime) [2008-09-01 06:00:00 .... 2008-09-15 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [17.2 .... 47.2]
     lon         (float64) [-37.0 .... -71.1]
     vmax        (int32) [30 .... 35]
     mslp        (int32) [1006 .... 986]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092008
     operational_id:  AL092008
     name:            IKE
     year:            2008
     season:          2008
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             39.2
     realtime:        False
     invest:          False
     subset:          False,
 'Ivan': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      145 knots
     Minimum Pressure:  910 hPa
     Start Time:        1800 UTC 02 September 2004
     End Time:          0600 UTC 24 September 2004

 Variables:
     time        (datetime) [2004-09-02 18:00:00 .... 2004-09-24 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [9.7 .... 30.1]
     lon         (float64) [-27.6 .... -94.2]
     vmax        (int32) [25 .... 25]
     mslp        (int32) [1009 .... 1009]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092004
     operational_id:  AL092004
     name:            IVAN
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             70.4
     realtime:        False
     invest:          False
     subset:          False,
 'Michael': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  919 hPa
     Start Time:        0600 UTC 07 October 2018
     End Time:          1800 UTC 11 October 2018

 Variables:
     time        (datetime) [2018-10-06 18:00:00 .... 2018-10-15 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [17.8 .... 41.2]
     lon         (float64) [-86.6 .... -10.0]
     vmax        (int32) [25 .... 35]
     mslp        (int32) [1006 .... 1001]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL142018
     operational_id:  AL142018
     name:            MICHAEL
     year:            2018
     season:          2018
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             12.5
     realtime:        False
     invest:          False
     subset:          False,
 'Wilma': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      160 knots
     Minimum Pressure:  882 hPa
     Start Time:        1800 UTC 15 October 2005
     End Time:          1800 UTC 25 October 2005

 Variables:
     time        (datetime) [2005-10-15 18:00:00 .... 2005-10-26 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [17.6 .... 45.5]
     lon         (float64) [-78.5 .... -52.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1004 .... 990]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL252005
     operational_id:  AL242005
     name:            WILMA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             38.9
     realtime:        False
     invest:          False
     subset:          False,
 'Florence': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  937 hPa
     Start Time:        1800 UTC 31 August 2018
     End Time:          0600 UTC 17 September 2018

 Variables:
     time        (datetime) [2018-08-30 06:00:00 .... 2018-09-18 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [LO .... EX]
     lat         (float64) [12.8 .... 42.2]
     lon         (float64) [-16.9 .... -73.3]
     vmax        (int32) [20 .... 25]
     mslp        (int32) [1008 .... 1006]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL062018
     operational_id:  AL062018
     name:            FLORENCE
     year:            2018
     season:          2018
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             39.7
     realtime:        False
     invest:          False
     subset:          False,
 'Rita': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      155 knots
     Minimum Pressure:  895 hPa
     Start Time:        0000 UTC 18 September 2005
     End Time:          0000 UTC 26 September 2005

 Variables:
     time        (datetime) [2005-09-18 00:00:00 .... 2005-09-26 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [21.3 .... 39.5]
     lon         (float64) [-69.9 .... -88.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1009 .... 1006]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL182005
     operational_id:  AL182005
     name:            RITA
     year:            2005
     season:          2005
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             25.1
     realtime:        False
     invest:          False
     subset:          False,
 'Laura': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  937 hPa
     Start Time:        0000 UTC 20 August 2020
     End Time:          0000 UTC 29 August 2020

 Variables:
     time        (datetime) [2020-08-20 00:00:00 .... 2020-08-29 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... LO]
     lat         (float64) [14.4 .... 38.3]
     lon         (float64) [-47.3 .... -84.8]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1008 .... 1004]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL132020
     operational_id:  AL132020
     name:            LAURA
     year:            2020
     season:          2020
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             12.9
     realtime:        False
     invest:          False
     subset:          False,
 'Charley': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  941 hPa
     Start Time:        1200 UTC 09 August 2004
     End Time:          1800 UTC 14 August 2004

 Variables:
     time        (datetime) [2004-08-09 12:00:00 .... 2004-08-15 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.4 .... 41.2]
     lon         (float64) [-59.2 .... -71.1]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1010 .... 1018]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL032004
     operational_id:  AL032004
     name:            CHARLEY
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             10.6
     realtime:        False
     invest:          False
     subset:          False,
 'Hugo': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  918 hPa
     Start Time:        1200 UTC 10 September 1989
     End Time:          1800 UTC 22 September 1989

 Variables:
     time        (datetime) [1989-09-10 12:00:00 .... 1989-09-25 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [13.2 .... 58.0]
     lon         (float64) [-20.0 .... -46.0]
     vmax        (int32) [25 .... 40]
     mslp        (int32) [1010 .... 974]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL111989
     operational_id:  AL111989
     name:            HUGO
     year:            1989
     season:          1989
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             42.7
     realtime:        False
     invest:          False
     subset:          False,
 'Irene': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      105 knots
     Minimum Pressure:  942 hPa
     Start Time:        0000 UTC 21 August 2011
     End Time:          1800 UTC 28 August 2011

 Variables:
     time        (datetime) [2011-08-21 00:00:00 .... 2011-08-30 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... EX]
     lat         (float64) [15.0 .... 53.0]
     lon         (float64) [-59.0 .... -60.0]
     vmax        (int32) [45 .... 40]
     mslp        (int32) [1006 .... 991]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL092011
     operational_id:  AL092011
     name:            IRENE
     year:            2011
     season:          2011
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             18.8
     realtime:        False
     invest:          False
     subset:          False,
 'Frances': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  935 hPa
     Start Time:        0000 UTC 25 August 2004
     End Time:          1800 UTC 08 September 2004

 Variables:
     time        (datetime) [2004-08-25 00:00:00 .... 2004-09-10 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.1 .... 47.2]
     lon         (float64) [-35.2 .... -64.2]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1009 .... 1005]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL062004
     operational_id:  AL062004
     name:            FRANCES
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             45.9
     realtime:        False
     invest:          False
     subset:          False,
 'Agnes': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      75 knots
     Minimum Pressure:  977 hPa
     Start Time:        1200 UTC 14 June 1972
     End Time:          0000 UTC 23 June 1972

 Variables:
     time        (datetime) [1972-06-14 12:00:00 .... 1972-06-23 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TS]
     lat         (float64) [20.0 .... 41.7]
     lon         (float64) [-89.0 .... -74.5]
     vmax        (int32) [25 .... 45]

In [21]:
hData = {}
for storm_name, storm_obj in stormsData.items():
    # print(storm_name)
    try:
        storm_id = storm_obj.id  # Access the 'id' property
        storm_name = storm_obj.name  # Access the 'name' property
        storm_year = storm_obj.year  # Access the 'year' property
        storm_basin = storm_obj.basin  # Access the 'basin' property
        storm_max_wind = max(storm_obj.vmax)  # Access the 'vmax' property
        storm_min_wind = min(storm_obj.vmax)  # Access the 'vmax' property
        storm_avg_wind = np.mean(storm_obj.vmax)  # Access the average wind speeds
        storm_max_pressure = max(storm_obj.mslp)  # Access the 'mslp' property
        storm_min_pressure = min(storm_obj.mslp)  # Access the 'mslp' property
        storm_avg_pressure = np.mean(storm_obj.mslp)  # Access the 'mslp' property
        storm_start_time = storm_obj['time'][0]  # Access the first element of the 'time' property
        storm_end_time = storm_obj['time'][-1]  # Access the last element of the 'time' property


        # Create a list of storm properties
        storm_info = [
            storm_name,
            storm_year,
            storm_basin,
            storm_max_wind,
            storm_min_wind,
            storm_avg_wind,
            storm_max_pressure,
            storm_min_pressure,
            storm_avg_pressure,
            storm_start_time,
            storm_end_time
            ]

        hData[storm_id] = storm_info
    except Exception as e:
        print(e, storm_name, storm_year)
        continue

'dict' object has no attribute 'id' Iniki 1979
'dict' object has no attribute 'id' Long Islan Express 1979
'dict' object has no attribute 'id' Great Atlantic Hurricane 1979

In [22]:
# Define the column names for the DataFrame
columns = [
    "storm_name",
    "storm_year",
    "storm_basin",
    "storm_max_wind",
    "storm_min_wind",
    "storm_avg_wind",
    "storm_max_pressure",
    "storm_min_pressure",
    "storm_avg_pressure",
    "storm_start_time",
    "storm_end_time"
]

# Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(hData, orient='index', columns=columns)

# Reset the index of the DataFrame
df.reset_index(inplace=True)

# Rename the index column to 'storm_id'
df.rename(columns={'index': 'storm_id'}, inplace=True)

In [23]:
df.head()

,storm_id,storm_name,storm_year,storm_basin,storm_max_wind,storm_min_wind,storm_avg_wind,storm_max_pressure,storm_min_pressure,storm_avg_pressure,storm_start_time,storm_end_time
0,AL122005,KATRINA,2005,north_atlantic,150,25,74.117647,1008.0,902.0,965.676471,2005-08-23 18:00:00,2005-08-31 06:00:00
1,AL092017,HARVEY,2017,north_atlantic,115,15,40.067568,1013.0,937.0,997.000000,2017-08-16 06:00:00,2017-09-02 12:00:00
2,AL092022,IAN,2022,north_atlantic,140,30,70.500000,1006.0,937.0,979.775000,2022-09-22 18:00:00,2022-10-01 06:00:00
3,AL152017,MARIA,2017,north_atlantic,150,30,81.397059,1016.0,908.0,967.132353,2017-09-16 12:00:00,2017-10-02 12:00:00
4,AL182012,SANDY,2012,north_atlantic,100,25,61.555556,1006.0,940.0,971.866667,2012-10-21 18:00:00,2012-10-31 12:00:00

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   storm_id            49 non-null     object
 1   storm_name          49 non-null     object
 2   storm_year          49 non-null     int64
 3   storm_basin         49 non-null     object
 4   storm_max_wind      49 non-null     int32
 5   storm_min_wind      49 non-null     int32
 6   storm_avg_wind      49 non-null     float64
 7   storm_max_pressure  43 non-null     float64
 8   storm_min_pressure  43 non-null     float64
 9   storm_avg_pressure  42 non-null     float64
 10  storm_start_time    49 non-null     datetime64[ns]
 11  storm_end_time      49 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int32(2), int64(1), object(3)
memory usage: 4.3+ KB

In [25]:
hc_df.head()

     hName  Year Category  Adjusted_2023_Cost_BDollars
0  Katrina  2005        3                        195.0
1   Harvey  2017        4                        155.0
2      Ian  2022        4                        115.2
3    Maria  2017        4                        111.6
4    Sandy  2012        1                         85.9

In [26]:
# Create temporary DataFrames with lowercase names for case-insensitive merging
df_temp = df.copy()
hc_df_temp = hc_df.copy()

# Convert the 'storm_name' and 'hName' columns to lowercase
df_temp['storm_name'] = df_temp['storm_name'].str.lower()
hc_df_temp['hName'] = hc_df_temp['hName'].str.lower()

# Merge the two temporary DataFrames on the lowercased storm name and year
result_df = pd.merge(df_temp, 
                     hc_df_temp, 
                     left_on=['storm_name', 'storm_year'], 
                     right_on=['hName', 'Year'],
                     how='left')

# Drop the redundant columns 'hName', 'Year', and temporary 'storm_name' from the result DataFrame
result_df.drop(columns=['hName', 'Year', 'storm_name'], inplace=True)

# Restore the original 'storm_name' from df to result_df
result_df['storm_name'] = df['storm_name']

result_df.to_csv('./Data_From_Code/48_storms_dataWithCost.csv')
result_df

,storm_id,storm_year,storm_basin,storm_max_wind,storm_min_wind,storm_avg_wind,storm_max_pressure,storm_min_pressure,storm_avg_pressure,storm_start_time,storm_end_time,Category,Adjusted_2023_Cost_BDollars,storm_name
0,AL122005,2005,north_atlantic,150,25,74.117647,1008.0,902.0,965.676471,2005-08-23 18:00:00,2005-08-31 06:00:00,3,195.0,KATRINA
1,AL092017,2017,north_atlantic,115,15,40.067568,1013.0,937.0,997.000000,2017-08-16 06:00:00,2017-09-02 12:00:00,4,155.0,HARVEY
2,AL092022,2022,north_atlantic,140,30,70.500000,1006.0,937.0,979.775000,2022-09-22 18:00:00,2022-10-01 06:00:00,4,115.2,IAN
3,AL152017,2017,north_atlantic,150,30,81.397059,1016.0,908.0,967.132353,2017-09-16 12:00:00,2017-10-02 12:00:00,4,111.6,MARIA
4,AL182012,2012,north_atlantic,100,25,61.555556,1006.0,940.0,971.866667,2012-10-21 18:00:00,2012-10-31 12:00:00,1,85.9,SANDY
5,AL092021,2021,north_atlantic,130,20,53.625000,1006.0,929.0,986.700000,2021-08-26 12:00:00,2021-09-04 18:00:00,4,82.4,IDA
6,AL112017,2017,north_atlantic,155,15,100.454545,1008.0,914.0,953.590909,2017-08-30 00:00:00,2017-09-13 12:00:00,4,62.0,IRMA
7,AL041992,1992,north_atlantic,150,20,73.942308,1015.0,922.0,978.750000,1992-08-16 18:00:00,1992-08-28 06:00:00,5,58.6,ANDREW
8,AL092008,2008,north_atlantic,125,30,80.000000,1006.0,935.0,965.193548,2008-09-01 06:00:00,2008-09-15 12:00:00,2,42.0,IKE
9,AL092004,2004,north_atlantic,145,15,81.223404,1010.0,910.0,965.882979,2004-09-02 18:00:00,2004-09-24 06:00:00,3,33.0,IVAN
10,AL142018,2018,north_atlantic,140,25,66.578947,1006.0,919.0,976.605263,2018-10-06 18:00:00,2018-10-15 18:00:00,5,30.2,MICHAEL
11,AL252005,2005,north_atlantic,160,25,88.541667,1004.0,882.0,956.666667,2005-10-15 18:00:00,2005-10-26 18:00:00,3,29.1,WILMA
12,AL062018,2018,north_atlantic,130,20,65.569620,1008.0,937.0,982.037975,2018-08-30 06:00:00,2018-09-18 12:00:00,1,29.0,FLORENCE
13,AL182005,2005,north_atlantic,155,20,78.472222,1009.0,895.0,962.611111,2005-09-18 00:00:00,2005-09-26 06:00:00,3,28.5,RITA
14,AL132020,2020,north_atlantic,130,20,52.261905,1008.0,937.0,995.404762,2020-08-20 00:00:00,2020-08-29 06:00:00,4,27.4,LAURA
15,AL032004,2004,north_atlantic,130,30,68.166667,1018.0,941.0,988.666667,2004-08-09 12:00:00,2004-08-15 12:00:00,4,25.8,CHARLEY
16,AL111989,1989,north_atlantic,140,25,79.765625,1010.0,918.0,968.421875,1989-09-10 12:00:00,1989-09-25 12:00:00,4,22.0,HUGO
17,AL092011,2011,north_atlantic,105,40,70.348837,1006.0,942.0,969.930233,2011-08-21 00:00:00,2011-08-30 00:00:00,1,18.2,IRENE
18,AL062004,2004,north_atlantic,125,20,77.466667,1009.0,935.0,969.826667,2004-08-25 00:00:00,2004-09-10 18:00:00,2,15.8,FRANCES
19,AL021972,1972,north_atlantic,75,25,44.714286,NaN,NaN,NaN,1972-06-14 12:00:00,1972-06-23 00:00:00,1,15.4,AGNES
20,AL012001,2001,north_atlantic,50,15,26.228070,1012.0,1000.0,1005.964912,2001-06-05 12:00:00,2001-06-19 00:00:00,TS,14.7,ALLISON
21,AL031965,1965,north_atlantic,120,20,71.216216,NaN,NaN,NaN,1965-08-27 00:00:00,1965-09-13 00:00:00,3,13.7,BETSY
22,AL142016,2016,north_atlantic,145,50,101.000000,1009.0,934.0,959.360000,2016-09-28 12:00:00,2016-10-10 00:00:00,1,12.6,MATTHEW
23,AL112004,2004,north_atlantic,105,20,59.420290,1010.0,950.0,984.057971,2004-09-13 18:00:00,2004-09-29 12:00:00,3,12.1,JEANNE
24,AL091969,1969,north_atlantic,150,25,74.054054,NaN,NaN,NaN,1969-08-14 00:00:00,1969-08-22 12:00:00,5,11.9,CAMILLE
25,AL081999,1999,north_atlantic,135,25,74.500000,1008.0,921.0,968.600000,1999-09-07 18:00:00,1999-09-19 12:00:00,2,11.8,FLOYD
26,AL071998,1998,north_atlantic,135,20,75.352113,1009.0,937.0,979.563380,1998-09-15 12:00:00,1998-10-01 06:00:00,2,11.2,GEORGES
27,AL061996,1996,north_atlantic,105,15,53.472222,1012.0,946.0,989.305556,1996-08-23 12:00:00,1996-09-10 00:00:00,3,9.7,FRAN
28,AL031955,1955,north_atlantic,90,25,51.641791,NaN,NaN,NaN,1955-08-07 06:00:00,1955-08-23 18:00:00,1,9.5,DIANE
29,AL171995,1995,north_atlantic,130,25,54.615385,1004.0,916.0,980.564103,1995-09-27 18:00:00,1995-10-06 18:00:00,3,9.3,OPAL
30,AL031983,1983,north_atlantic,100,20,49.200000,1011.0,962.0,995.480000,1983-08-15 12:00:00,1983-08-21 06:00:00,3,9.2,ALICIA
31,AL132003,2003,north_atlantic,145,25,99.827586,1009.0,915.0,955.534483,2003-09-06 00:00:00,2003-09-20 00:00:00,2,9.0,ISABEL
32,AL192020,2020,north_atlantic,95,30,52.321429,1007.0,965.0,992.285714,2020-09-11 18:00:00,2020-09-18 06:00:00,2,8.6,SALLY
33,AL072008,2008,north_atlantic,135,15,57.400000,1008.0,941.0,983.280000,2008-08-25 00:00:00,2008-09-05 12:00:00,2,8.4,GUSTAV
34,AL041970,1970,north_atlantic,120,25,57.800000,1008.0,944.0,NaN,1970-07-31 00:00:00,1970-08-05 18:00:00,3,7.3,CELIA
35,AL111979,1979,north_atlantic,115,25,51.911765,1009.0,943.0,993.691176,1979-08-29 06:00:00,1979-09-15 00:00:00,3,7.2,FREDERIC
36,AL112019,2019,north_atlantic,40,25,32.222222,1009.0,1003.0,1006.333333,2019-09-17 12:00:00,2019-09-19 00:00:00,TS,6.0,IMELDA
37,AL092020,2020,north_atlantic,80,35,57.638889,1007.0,986.0,995.833333,2020-07-28 12:00:00,2020-08-05 06:00:00,1,5.6,ISAIAS
38,AL061954,1954,north_atlantic,100,30,70.833333,NaN,NaN,NaN,1954-08-25 12:00:00,1954-09-01 06:00:00,3,5.2,CAROL
39,AL282020,2020,north_atlantic,100,25,59.200000,1007.0,970.0,989.120000,2020-10-24 12:00:00,2020-10-30 00:00:00,2,5.1,ZETA
40,AL151995,1995,north_atlantic,100,20,51.139241,1016.0,949.0,991.835443,1995-09-12 18:00:00,1995-10-01 18:00:00,2,4.2,MARILYN
41,AL121985,1985,north_atlantic,75,25,53.275862,1005.0,971.0,983.724138,1985-10-26 00:00:00,1985-11-01 18:00:00,1,4.2,JUAN
42,AL051960,1960,north_atlantic,125,25,85.625000,NaN,NaN,NaN,1960-08-29 18:00:00,1960-09-14 12:00:00,4,4.0,DONNA
43,AL042005,2005,north_atlantic,130,10,47.457627,1014.0,930.0,989.203390,2005-07-04 18:00:00,2005-07-18 06:00:00,3,3.9,DENNIS
44,AL092012,2012,north_atlantic,70,20,47.058824,1010.0,965.0,992.588235,2012-08-20 12:00:00,2012-09-01 06:00:00,1,3.7,ISAAC
45,AL051985,1985,north_atlantic,110,20,65.454545,1012.0,953.0,987.000000,1985-08-28 00:00:00,1985-09-04 18:00:00,3,3.7,ELENA
46,AL132011,2011,north_atlantic,50,15,35.227273,1007.0,986.0,995.000000,2011-09-02 00:00:00,2011-09-06 18:00:00,TS,3.4,LEE
47,AL262020,2020,north_atlantic,120,20,67.741935,1007.0,953.0,979.483871,2020-10-04 18:00:00,2020-10-11 18:00:00,2,3.4,DELTA
48,AL031991,1991,north_atlantic,100,10,40.363636,1015.0,950.0,998.472727,1991-08-16 00:00:00,1991-08-29 00:00:00,2,3.4,BOB

In [27]:
namedStorms = pd.read_csv('./Data_From_Code/namedStorms.csv')
namedStorms

    Retired_Names  year       basinName
0           Agnes  1972  north_atlantic
1          Alicia  1983  north_atlantic
2           Allen  1980  north_atlantic
3         Allison  2001  north_atlantic
4          Andrew  1992  north_atlantic
..            ...   ...             ...
110        Manuel  2013    east_pacific
111         Odile  2014    east_pacific
112          Paka  1997    east_pacific
113      Patricia  2015    east_pacific
114       Pauline  1997    east_pacific

[115 rows x 3 columns]

In [28]:
# import tropycal.tracks as tracks

# Create a TrackDataset object for the North Atlantic basin
# basin = tracks.TrackDataset(basin='north_atlantic')

basinAtlantic = tracks.TrackDataset(basin='north_atlantic',source='hurdat',include_btk=False)
basinPacific = tracks.TrackDataset(basin='east_pacific',source='hurdat',include_btk=False)

# Create a dictionary to store the storm data
def getListOfStormsByNameDate(df, nameCol, yearCol):
    stormsData = {}
    basin = ''
    for index, row in df.iterrows():
        try:
            if row['basinName'] == 'north_atlantic':
                basin = basinAtlantic
            elif row['basinName'] == 'east_pacific':
                basin = basinPacific
            
            storm = basin.get_storm((row[nameCol],row[yearCol]))
            # print(row.hName, row.Year)
            # Create a dictionary to store the storm data
            stormsData[row[nameCol]] = {}
            # Load the storm data
            stormsData[row[nameCol]] = basin.get_storm((row[nameCol], row[yearCol]))
        except Exception as e:
            print(e)
            continue
        
    return stormsData



additionalStorms = getListOfStormsByNameDate(namedStorms, 'Retired_Names', 'year')

--> Starting to read in HURDAT2 data
--> Completed reading in HURDAT2 data (0.88 seconds)
--> Starting to read in HURDAT2 data
--> Completed reading in HURDAT2 data (0.7 seconds)

In [29]:
additionalStorms

{'Agnes': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      75 knots
     Minimum Pressure:  977 hPa
     Start Time:        1200 UTC 14 June 1972
     End Time:          0000 UTC 23 June 1972

 Variables:
     time        (datetime) [1972-06-14 12:00:00 .... 1972-06-23 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TS]
     lat         (float64) [20.0 .... 41.7]
     lon         (float64) [-89.0 .... -74.5]
     vmax        (int32) [25 .... 45]
     mslp        (float64) [nan .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL021972
     operational_id:  AL021972
     name:            AGNES
     year:            1972
     season:          1972
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             6.8
     realtime:        False
     invest:          False
     subset:          False,
 'Alicia': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  962 hPa
     Start Time:        1200 UTC 15 August 1983
     End Time:          0000 UTC 20 August 1983

 Variables:
     time        (datetime) [1983-08-15 12:00:00 .... 1983-08-21 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [27.3 .... 41.2]
     lon         (float64) [-90.5 .... -97.0]
     vmax        (int32) [30 .... 20]
     mslp        (int32) [1009 .... 1010]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031983
     operational_id:  AL031983
     name:            ALICIA
     year:            1983
     season:          1983
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             6.4
     realtime:        False
     invest:          False
     subset:          False,
 'Allen': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      165 knots
     Minimum Pressure:  899 hPa
     Start Time:        0000 UTC 01 August 1980
     End Time:          1800 UTC 11 August 1980

 Variables:
     time        (datetime) [1980-07-31 12:00:00 .... 1980-08-11 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [DB .... TD]
     lat         (float64) [11.0 .... 28.9]
     lon         (float64) [-30.0 .... -102.9]
     vmax        (int32) [25 .... 30]
     mslp        (float64) [nan .... 1008.0]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041980
     operational_id:  AL041980
     name:            ALLEN
     year:            1980
     season:          1980
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             52.3
     realtime:        False
     invest:          False
     subset:          False,
 'Allison': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      50 knots
     Minimum Pressure:  1000 hPa
     Start Time:        1200 UTC 05 June 2001
     End Time:          1800 UTC 17 June 2001

 Variables:
     time        (datetime) [2001-06-05 12:00:00 .... 2001-06-19 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... EX]
     lat         (float64) [27.5 .... 43.5]
     lon         (float64) [-95.0 .... -61.0]
     vmax        (int32) [40 .... 20]
     mslp        (int32) [1007 .... 1012]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL012001
     operational_id:  AL012001
     name:            ALLISON
     year:            2001
     season:          2001
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             1.3
     realtime:        False
     invest:          False
     subset:          False,
 'Andrew': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  922 hPa
     Start Time:        1800 UTC 16 August 1992
     End Time:          0600 UTC 28 August 1992

 Variables:
     time        (datetime) [1992-08-16 18:00:00 .... 1992-08-28 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [10.8 .... 35.4]
     lon         (float64) [-35.5 .... -84.0]
     vmax        (int32) [25 .... 20]
     mslp        (int32) [1010 .... 1000]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041992
     operational_id:  AL041992
     name:            ANDREW
     year:            1992
     season:          1992
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             28.4
     realtime:        False
     invest:          False
     subset:          False,
 'Anita': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  926 hPa
     Start Time:        1200 UTC 29 August 1977
     End Time:          0600 UTC 03 September 1977

 Variables:
     time        (datetime) [1977-08-29 12:00:00 .... 1977-09-03 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [26.9 .... 22.0]
     lon         (float64) [-88.4 .... -103.0]
     vmax        (int32) [20 .... 25]
     mslp        (int32) [1012 .... 1011]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL051977
     operational_id:  AL051977
     name:            ANITA
     year:            1977
     season:          1977
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             12.8
     realtime:        False
     invest:          False
     subset:          False,
 'Audrey': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      110 knots
     Minimum Pressure:  946 hPa
     Start Time:        1200 UTC 24 June 1957
     End Time:          1800 UTC 28 June 1957

 Variables:
     time        (datetime) [1957-06-24 12:00:00 .... 1957-06-29 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [21.0 .... 39.4]
     lon         (float64) [-93.0 .... -80.9]
     vmax        (int32) [30 .... 40]
     mslp        (float64) [nan .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL021957
     operational_id:  AL011957
     name:            AUDREY
     year:            1957
     season:          1957
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             8.1
     realtime:        False
     invest:          False
     subset:          False,
 'Betsy': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      120 knots
     Minimum Pressure:  942 hPa
     Start Time:        0000 UTC 27 August 1965
     End Time:          1800 UTC 11 September 1965

 Variables:
     time        (datetime) [1965-08-27 00:00:00 .... 1965-09-13 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.0 .... 39.0]
     lon         (float64) [-50.5 .... -83.0]
     vmax        (int32) [25 .... 20]
     mslp        (float64) [nan .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031965
     operational_id:  AL021965
     name:            BETSY
     year:            1965
     season:          1965
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             40.5
     realtime:        False
     invest:          False
     subset:          False,
 'Beulah': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      140 knots
     Minimum Pressure:  923 hPa
     Start Time:        1200 UTC 05 September 1967
     End Time:          0600 UTC 24 September 1967

 Variables:
     time        (datetime) [1967-09-05 12:00:00 .... 1967-09-24 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [13.4 .... 21.0]
     lon         (float64) [-57.0 .... -96.7]
     vmax        (int32) [25 .... 25]
     mslp        (float64) [nan .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL131967
     operational_id:  AL041967
     name:            BEULAH
     year:            1967
     season:          1967
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             40.1
     realtime:        False
     invest:          False
     subset:          False,
 'Bob': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  950 hPa
     Start Time:        0000 UTC 16 August 1991
     End Time:          1200 UTC 20 August 1991

 Variables:
     time        (datetime) [1991-08-16 00:00:00 .... 1991-08-29 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [25.6 .... 40.0]
     lon         (float64) [-74.3 .... -9.9]
     vmax        (int32) [25 .... 10]
     mslp        (int32) [1014 .... 1015]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031991
     operational_id:  AL031991
     name:            BOB
     year:            1991
     season:          1991
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             8.0
     realtime:        False
     invest:          False
     subset:          False,
 'Camille': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  900 hPa
     Start Time:        0000 UTC 14 August 1969
     End Time:          0600 UTC 22 August 1969

 Variables:
     time        (datetime) [1969-08-14 00:00:00 .... 1969-08-22 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [18.3 .... 43.0]
     lon         (float64) [-79.7 .... -54.0]
     vmax        (int32) [30 .... 35]
     mslp        (float64) [nan .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL091969
     operational_id:  AL061969
     name:            CAMILLE
     year:            1969
     season:          1969
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             23.2
     realtime:        False
     invest:          False
     subset:          False,
 'Carla': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      125 knots
     Minimum Pressure:  927 hPa
     Start Time:        1200 UTC 03 September 1961
     End Time:          0600 UTC 13 September 1961

 Variables:
     time        (datetime) [1961-09-03 12:00:00 .... 1961-09-18 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [12.5 .... 68.0]
     lon         (float64) [-77.0 .... -54.0]
     vmax        (int32) [25 .... 20]
     mslp        (float64) [nan .... 988.0]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL031961
     operational_id:  AL031961
     name:            CARLA
     year:            1961
     season:          1961
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             27.3
     realtime:        False
     invest:          False
     subset:          False,
 'Carmen': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  928 hPa
     Start Time:        0600 UTC 29 August 1974
     End Time:          0600 UTC 10 September 1974

 Variables:
     time        (datetime) [1974-08-29 06:00:00 .... 1974-09-10 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [16.8 .... 31.3]
     lon         (float64) [-55.8 .... -96.7]
     vmax        (int32) [30 .... 25]
     mslp        (float64) [1011.0 .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL101974
     operational_id:  AL071974
     name:            CARMEN
     year:            1974
     season:          1974
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             25.6
     realtime:        False
     invest:          False
     subset:          False,
 'Carol': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      100 knots
     Minimum Pressure:  955 hPa
     Start Time:        1200 UTC 25 August 1954
     End Time:          1500 UTC 31 August 1954

 Variables:
     time        (datetime) [1954-08-25 12:00:00 .... 1954-09-01 06:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [23.8 .... 48.5]
     lon         (float64) [-75.0 .... -70.5]
     vmax        (int32) [30 .... 40]
     mslp        (float64) [nan .... 992.0]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL061954
     operational_id:  AL031954
     name:            CAROL
     year:            1954
     season:          1954
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             13.4
     realtime:        False
     invest:          False
     subset:          False,
 'Celia': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      120 knots
     Minimum Pressure:  944 hPa
     Start Time:        0000 UTC 31 July 1970
     End Time:          1800 UTC 05 August 1970

 Variables:
     time        (datetime) [1970-07-31 00:00:00 .... 1970-08-05 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TD]
     lat         (float64) [18.5 .... 32.3]
     lon         (float64) [-82.5 .... -107.0]
     vmax        (int32) [25 .... 25]
     mslp        (float64) [1008.0 .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL041970
     operational_id:  AL041970
     name:            CELIA
     year:            1970
     season:          1970
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             8.3
     realtime:        False
     invest:          False
     subset:          False,
 'Cesar': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      75 knots
     Minimum Pressure:  985 hPa
     Start Time:        1800 UTC 24 July 1996
     End Time:          1800 UTC 28 July 1996

 Variables:
     time        (datetime) [1996-07-24 18:00:00 .... 1996-07-28 18:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TS]
     lat         (float64) [11.8 .... 13.1]
     lon         (float64) [-62.6 .... -87.9]
     vmax        (int32) [25 .... 35]
     mslp        (int32) [1009 .... 1004]
     wmo_basin   (str) [north_atlantic .... east_pacific]

 More Information:
     id:              AL031996
     operational_id:  AL031996
     name:            CESAR
     year:            1996
     season:          1996
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             4.0
     realtime:        False
     invest:          False
     subset:          False,
 'Charley': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  941 hPa
     Start Time:        1200 UTC 09 August 2004
     End Time:          1800 UTC 14 August 2004

 Variables:
     time        (datetime) [2004-08-09 12:00:00 .... 2004-08-15 12:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.4 .... 41.2]
     lon         (float64) [-59.2 .... -71.1]
     vmax        (int32) [30 .... 30]
     mslp        (int32) [1010 .... 1018]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL032004
     operational_id:  AL032004
     name:            CHARLEY
     year:            2004
     season:          2004
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             10.6
     realtime:        False
     invest:          False
     subset:          False,
 'Cleo': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      130 knots
     Minimum Pressure:  938 hPa
     Start Time:        1800 UTC 20 August 1964
     End Time:          0600 UTC 04 September 1964

 Variables:
     time        (datetime) [1964-08-20 18:00:00 .... 1964-09-11 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TS .... EX]
     lat         (float64) [13.1 .... 56.5]
     lon         (float64) [-44.3 .... -26.0]
     vmax        (int32) [40 .... 25]
     mslp        (float64) [1003.0 .... nan]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL051964
     operational_id:  AL031964
     name:            CLEO
     year:            1964
     season:          1964
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             32.9
     realtime:        False
     invest:          False
     subset:          False,
 'Connie': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      120 knots
     Minimum Pressure:  944 hPa
     Start Time:        0600 UTC 03 August 1955
     End Time:          0000 UTC 15 August 1955

 Variables:
     time        (datetime) [1955-08-03 06:00:00 .... 1955-08-15 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... TS]
     lat         (float64) [15.3 .... 45.4]
     lon         (float64) [-40.0 .... -83.0]
     vmax        (int32) [30 .... 35]
     mslp        (float64) [nan .... 1011.0]
     wmo_basin   (str) [north_atlantic .... north_atlantic]

 More Information:
     id:              AL021955
     operational_id:  AL021955
     name:            CONNIE
     year:            1955
     season:          1955
     basin:           north_atlantic
     source_info:     NHC Hurricane Database
     source:          hurdat
     ace:             31.6
     realtime:        False
     invest:          False
     subset:          False,
 'David': <tropycal.tracks.Storm>
 Storm Summary:
     Maximum Wind:      150 knots
     Minimum Pressure:  924 hPa
     Start Time:        1200 UTC 25 August 1979
     End Time:          1200 UTC 06 September 1979

 Variables:
     time        (datetime) [1979-08-25 12:00:00 .... 1979-09-08 00:00:00]
     extra_obs   (int32) [0 .... 0]
     special     (str) [ .... ]
     type        (str) [TD .... EX]
     lat         (float64) [11.7 .... 52.5]
     lon         (float64) [-36.1 .... -52.5]
     vmax        (int32) [25 .... 60]

In [30]:
additional_hData = {}
for storm_name, storm_obj in additionalStorms.items():
    # print(storm_name)
    try:
        storm_id = storm_obj.id  # Access the 'id' property
        storm_name = storm_obj.name  # Access the 'name' property
        storm_year = storm_obj.year  # Access the 'year' property
        storm_basin = storm_obj.basin  # Access the 'basin' property
        storm_max_wind = max(storm_obj.vmax)  # Access the 'vmax' property
        storm_min_wind = min(storm_obj.vmax)  # Access the 'vmax' property
        storm_avg_wind = np.mean(storm_obj.vmax)  # Access the average wind speeds
        storm_max_pressure = max(storm_obj.mslp)  # Access the 'mslp' property
        storm_min_pressure = min(storm_obj.mslp)  # Access the 'mslp' property
        storm_avg_pressure = np.mean(storm_obj.mslp)  # Access the 'mslp' property
        storm_start_time = storm_obj['time'][0]  # Access the first element of the 'time' property
        storm_end_time = storm_obj['time'][-1]  # Access the last element of the 'time' property


        # Create a list of storm properties
        storm_info = [
            storm_name,
            storm_year,
            storm_basin,
            storm_max_wind,
            storm_min_wind,
            storm_avg_wind,
            storm_max_pressure,
            storm_min_pressure,
            storm_avg_pressure,
            storm_start_time,
            storm_end_time
            ]

        additional_hData[storm_id] = storm_info
    except Exception as e:
        print(e, storm_name, storm_year)
        continue

In [31]:
additional_hData

{'AL021972': ['AGNES',
  1972,
  'north_atlantic',
  75,
  25,
  44.714285714285715,
  nan,
  nan,
  nan,
  datetime.datetime(1972, 6, 14, 12, 0),
  datetime.datetime(1972, 6, 23, 0, 0)],
 'AL031983': ['ALICIA',
  1983,
  'north_atlantic',
  100,
  20,
  49.2,
  1011,
  962,
  995.48,
  datetime.datetime(1983, 8, 15, 12, 0),
  datetime.datetime(1983, 8, 21, 6, 0)],
 'AL041980': ['ALLEN',
  1980,
  'north_atlantic',
  165,
  25,
  97.06521739130434,
  nan,
  nan,
  nan,
  datetime.datetime(1980, 7, 31, 12, 0),
  datetime.datetime(1980, 8, 11, 18, 0)],
 'AL012001': ['ALLISON',
  2001,
  'north_atlantic',
  50,
  15,
  26.228070175438596,
  1012,
  1000,
  1005.9649122807018,
  datetime.datetime(2001, 6, 5, 12, 0),
  datetime.datetime(2001, 6, 19, 0, 0)],
 'AL041992': ['ANDREW',
  1992,
  'north_atlantic',
  150,
  20,
  73.9423076923077,
  1015,
  922,
  978.75,
  datetime.datetime(1992, 8, 16, 18, 0),
  datetime.datetime(1992, 8, 28, 6, 0)],
 'AL051977': ['ANITA',
  1977,
  'north_atlantic',
  150,
  20,
  72.0,
  1012,
  926,
  981.5,
  datetime.datetime(1977, 8, 29, 12, 0),
  datetime.datetime(1977, 9, 3, 6, 0)],
 'AL021957': ['AUDREY',
  1957,
  'north_atlantic',
  110,
  30,
  64.0,
  nan,
  nan,
  nan,
  datetime.datetime(1957, 6, 24, 12, 0),
  datetime.datetime(1957, 6, 29, 0, 0)],
 'AL031965': ['BETSY',
  1965,
  'north_atlantic',
  120,
  20,
  71.21621621621621,
  nan,
  nan,
  nan,
  datetime.datetime(1965, 8, 27, 0, 0),
  datetime.datetime(1965, 9, 13, 0, 0)],
 'AL131967': ['BEULAH',
  1967,
  'north_atlantic',
  140,
  20,
  66.89873417721519,
  nan,
  nan,
  nan,
  datetime.datetime(1967, 9, 5, 12, 0),
  datetime.datetime(1967, 9, 24, 6, 0)],
 'AL031991': ['BOB',
  1991,
  'north_atlantic',
  100,
  10,
  40.36363636363637,
  1015,
  950,
  998.4727272727273,
  datetime.datetime(1991, 8, 16, 0, 0),
  datetime.datetime(1991, 8, 29, 0, 0)],
 'AL091969': ['CAMILLE',
  1969,
  'north_atlantic',
  150,
  25,
  74.05405405405405,
  nan,
  nan,
  nan,
  datetime.datetime(1969, 8, 14, 0, 0),
  datetime.datetime(1969, 8, 22, 12, 0)],
 'AL031961': ['CARLA',
  1961,
  'north_atlantic',
  125,
  20,
  62.416666666666664,
  nan,
  nan,
  nan,
  datetime.datetime(1961, 9, 3, 12, 0),
  datetime.datetime(1961, 9, 18, 0, 0)],
 'AL101974': ['CARMEN',
  1974,
  'north_atlantic',
  130,
  25,
  66.22448979591837,
  1011.0,
  928.0,
  nan,
  datetime.datetime(1974, 8, 29, 6, 0),
  datetime.datetime(1974, 9, 10, 6, 0)],
 'AL061954': ['CAROL',
  1954,
  'north_atlantic',
  100,
  30,
  70.83333333333333,
  nan,
  nan,
  nan,
  datetime.datetime(1954, 8, 25, 12, 0),
  datetime.datetime(1954, 9, 1, 6, 0)],
 'AL041970': ['CELIA',
  1970,
  'north_atlantic',
  120,
  25,
  57.8,
  1008.0,
  944.0,
  nan,
  datetime.datetime(1970, 7, 31, 0, 0),
  datetime.datetime(1970, 8, 5, 18, 0)],
 'AL031996': ['CESAR',
  1996,
  'north_atlantic',
  75,
  25,
  48.888888888888886,
  1009,
  985,
  999.0555555555555,
  datetime.datetime(1996, 7, 24, 18, 0),
  datetime.datetime(1996, 7, 28, 18, 0)],
 'AL032004': ['CHARLEY',
  2004,
  'north_atlantic',
  130,
  30,
  68.16666666666667,
  1018,
  941,
  988.6666666666666,
  datetime.datetime(2004, 8, 9, 12, 0),
  datetime.datetime(2004, 8, 15, 12, 0)],
 'AL051964': ['CLEO',
  1964,
  'north_atlantic',
  130,
  25,
  62.880434782608695,
  1007.0,
  938.0,
  nan,
  datetime.datetime(1964, 8, 20, 18, 0),
  datetime.datetime(1964, 9, 11, 0, 0)],
 'AL021955': ['CONNIE',
  1955,
  'north_atlantic',
  120,
  30,
  77.44897959183673,
  nan,
  nan,
  nan,
  datetime.datetime(1955, 8, 3, 6, 0),
  datetime.datetime(1955, 8, 15, 0, 0)],
 'AL091979': ['DAVID',
  1979,
  'north_atlantic',
  150,
  25,
  82.81818181818181,
  1008,
  924,
  969.4545454545455,
  datetime.datetime(1979, 8, 25, 12, 0),
  datetime.datetime(1979, 9, 8, 0, 0)],
 'AL042007': ['DEAN',
  2007,
  'north_atlantic',
  150,
  30,
  87.38095238095238,
  1006,
  905,
  962.8095238095239,
  datetime.datetime(2007, 8, 13, 6, 0),
  datetime.datetime(2007, 8, 23, 0, 0)],
 'AL042005': ['DENNIS',
  2005,
  'north_atlantic',
  130,
  10,
  47.45762711864407,
  1014,
  930,
  989.2033898305085,
  datetime.datetime(2005, 7, 4, 18, 0),
  datetime.datetime(2005, 7, 18, 6, 0)],
 'AL051990': ['DIANA',
  1990,
  'north_atlantic',
  85,
  20,
  44.6,
  1010,
  980,
  1000.56,
  datetime.datetime(1990, 8, 4, 0, 0),
  datetime.datetime(1990, 8, 9, 12, 0)],
 'AL031955': ['DIANE',
  1955,
  'north_atlantic',
  90,
  25,
  51.64179104477612,
  nan,
  nan,
  nan,
  datetime.datetime(1955, 8, 7, 6, 0),
  datetime.datetime(1955, 8, 23, 18, 0)],
 'AL051960': ['DONNA',
  1960,
  'north_atlantic',
  125,
  25,
  85.625,
  nan,
  nan,
  nan,
  datetime.datetime(1960, 8, 29, 18, 0),
  datetime.datetime(1960, 9, 14, 12, 0)],
 'AL061964': ['DORA',
  1964,
  'north_atlantic',
  115,
  30,
  63.733333333333334,
  nan,
  nan,
  nan,
  datetime.datetime(1964, 8, 28, 12, 0),
  datetime.datetime(1964, 9, 16, 0, 0)],
 'AL052019': ['DORIAN',
  2019,
  'north_atlantic',
  160,
  25,
  84.28571428571429,
  1011,
  910,
  969.4571428571429,
  datetime.datetime(2019, 8, 24, 6, 0),
  datetime.datetime(2019, 9, 9, 0, 0)],
 'AL081954': ['EDNA',
  1954,
  'north_atlantic',
  110,
  25,
  74.26829268292683,
  nan,
  nan,
  nan,
  datetime.datetime(1954, 9, 5, 0, 0),
  datetime.datetime(1954, 9, 14, 6, 0)],
 'AL051985': ['ELENA',
  1985,
  'north_atlantic',
  110,
  20,
  65.45454545454545,
  1012,
  953,
  987.0,
  datetime.datetime(1985, 8, 28, 0, 0),
  datetime.datetime(1985, 9, 4, 18, 0)],
 'AL131975': ['ELOISE',
  1975,
  'north_atlantic',
  110,
  20,
  44.57446808510638,
  nan,
  nan,
  nan,
  datetime.datetime(1975, 9, 13, 6, 0),
  datetime.datetime(1975, 9, 24, 18, 0)],
 'AL052015': ['ERIKA',
  2015,
  'north_atlantic',
  45,
  35,
  40.9375,
  1008,
  1001,
  1004.625,
  datetime.datetime(2015, 8, 24, 18, 0),
  datetime.datetime(2015, 8, 28, 12, 0)],
 'AL292020': ['ETA',
  2020,
  'north_atlantic',
  130,
  25,
  54.827586206896555,
  1006,
  922,
  989.448275862069,
  datetime.datetime(2020, 10, 31, 18, 0),
  datetime.datetime(2020, 11, 14, 0, 0)],
 'AL102003': ['FABIAN',
  2003,
  'north_atlantic',
  125,
  25,
  86.98113207547169,
  1009,
  939,
  965.3396226415094,
  datetime.datetime(2003, 8, 27, 18, 0),
  datetime.datetime(2003, 9, 9, 18, 0)],
 'AL062007': ['FELIX',
  2007,
  'north_atlantic',
  150,
  15,
  71.78571428571429,
  1010,
  929,
  980.2142857142857,
  datetime.datetime(2007, 8, 31, 12, 0),
  datetime.datetime(2007, 9, 6, 18, 0)],
 'AL141974': ['FIFI',
  1974,
  'north_atlantic',
  95,
  30,
  51.666666666666664,
  nan,
  nan,
  nan,
  datetime.datetime(1974, 9, 14, 12, 0),
  datetime.datetime(1974, 9, 22, 12, 0)],
 'AL072022': ['FIONA',
  2022,
  'north_atlantic',
  120,
  25,
  69.18032786885246,
  1010,
  931,
  975.0,
  datetime.datetime(2022, 9, 14, 6, 0),
  datetime.datetime(2022, 9, 27, 18, 0)],
 'AL071963': ['FLORA',
  1963,
  'north_atlantic',
  130,
  30,
  75.37974683544304,
  nan,
  nan,
  nan,
  datetime.datetime(1963, 9, 28, 12, 0),
  datetime.datetime(1963, 10, 17, 18, 0)],
 'AL062018': ['FLORENCE',
  2018,
  'north_atlantic',
  130,
  20,
  65.56962025316456,
  1008,
  937,
  982.0379746835443,
  datetime.datetime(2018, 8, 30, 6, 0),
  datetime.datetime(2018, 9, 18, 12, 0)],
 'AL081999': ['FLOYD',
  1999,
  'north_atlantic',
  135,
  25,
  74.5,
  1008,
  921,
  968.6,
  datetime.datetime(1999, 9, 7, 18, 0),
  datetime.datetime(1999, 9, 19, 12, 0)],
 'AL061996': ['FRAN',
  1996,
  'north_atlantic',
  105,
  15,
  53.47222222222222,
  1012,
  946,
  989.3055555555555,
  datetime.datetime(1996, 8, 23, 12, 0),
  datetime.datetime(1996, 9, 10, 0, 0)],
 'AL062004': ['FRANCES',
  2004,
  'north_atlantic',
  125,
  20,
  77.46666666666667,
  1009,
  935,
  969.8266666666667,
  datetime.datetime(2004, 8, 25, 0, 0),
  datetime.datetime(2004, 9, 10, 18, 0)],
 'AL111979': ['FREDERIC',
  1979,
  'north_atlantic',
  115,
  25,
  51.911764705882355,
  1009,
  943,
  993.6911764705883,
  datetime.datetime(1979, 8, 29, 6, 0),
  datetime.datetime(1979, 9, 15, 0, 0)],
 'AL071998': ['GEORGES',
  1998,
  'north_atlantic',
  135,
  20,
  75.35211267605634,
  1009,
  937,
  979.5633802816901,
  datetime.datetime(1998, 9, 15, 12, 0),
  datetime.datetime(1998, 10, 1, 6, 0)],
 'AL081988': ['GILBERT',
  1988,
  'north_atlantic',
  160,
  25,
  77.34693877551021,
  1008,
  888,
  968.9795918367347,
  datetime.datetime(1988, 9, 8, 18, 0),
  datetime.datetime(1988, 9, 20, 0, 0)],
 'AL091985': ['GLORIA',
  1985,
  'north_atlantic',
  125,
  25,
  60.15384615384615,
  1009,
  920,
  981.3846153846154,
  datetime.datetime(1985, 9, 16, 12, 0),
  datetime.datetime(1985, 10, 2, 0, 0)],
 'AL161978': ['GRETA',
  1978,
  'north_atlantic',
  115,
  25,
  61.53846153846154,
  nan,
  nan,
  nan,
  datetime.datetime(1978, 9, 13, 18, 0),
  datetime.datetime(1978, 9, 20, 0, 0)],
 'AL072008': ['GUSTAV',
  2008,
  'north_atlantic',
  135,
  15,
  57.4,
  1008,
  941,
  983.28,
  datetime.datetime(2008, 8, 25, 0, 0),
  datetime.datetime(2008, 9, 5, 12, 0)],
 'AL092017': ['HARVEY',
  2017,
  'north_atlantic',
  115,
  15,
  40.067567567567565,
  1013,
  937,
  997.0,
  datetime.datetime(2017, 8, 16, 6, 0),
  datetime.datetime(2017, 9, 2, 12, 0)],
 'AL091961': ['HATTIE',
  1961,
  'north_atlantic',
  145,
  25,
  80.57692307692308,
  nan,
  nan,
  nan,
  datetime.datetime(1961, 10, 26, 0, 0),
  datetime.datetime(1961, 11, 1, 6, 0)],
 'EP101965': ['HAZEL',
  1965,
  'east_pacific',
  45,
  25,
  40.38461538461539,
  nan,
  nan,
  nan,
  datetime.datetime(1965, 9, 24, 0, 0),
  datetime.datetime(1965, 9, 27, 0, 0)],
 'AL101964': ['HILDA',
  1964,
  'north_atlantic',
  120,
  25,
  67.3076923076923,
  nan,
  nan,
  nan,
  datetime.datetime(1964, 9, 28, 12, 0),
  datetime.datetime(1964, 10, 7, 12, 0)],
 'AL081996': ['HORTENSE',
  1996,
  'north_atlantic',
  120,
  25,
  61.22641509433962,
  1006,
  935,
  985.2452830188679,
  datetime.datetime(1996, 9, 3, 12, 0),
  datetime.datetime(1996, 9, 16, 6, 0)],
 'AL111989': ['HUGO',
  1989,
  'north_atlantic',
  140,
  25,
  79.765625,
  1010,
  918,
  968.421875,
  datetime.datetime(1989, 9, 10, 12, 0),
  datetime.datetime(1989, 9, 25, 12, 0)],
 'AL092022': ['IAN',
  2022,
  'north_atlantic',
  140,
  30,
  70.5,
  1006,
  937,
  979.775,
  datetime.datetime(2022, 9, 22, 18, 0),
  datetime.datetime(2022, 10, 1, 6, 0)],
 'AL092021': ['IDA',
  2021,
  'north_atlantic',
  130,
  20,
  53.625,
  1006,
  929,
  986.7,
  datetime.datetime(2021, 8, 26, 12, 0),
  datetime.datetime(2021, 9, 4, 18, 0)],
 'AL112010': ['IGOR',
  2010,
  'north_atlantic',
  135,
  30,
  80.57377049180327,
  1006,
  924,
  960.7868852459017,
  datetime.datetime(2010, 9, 8, 6, 0),
  datetime.datetime(2010, 9, 23, 0, 0)],
 'AL092008': ['IKE',
  2008,
  'north_atlantic',
  125,
  30,
  80.0,
  1006,
  935,
  965.1935483870968,
  datetime.datetime(2008, 9, 1, 6, 0),
  datetime.datetime(2008, 9, 15, 12, 0)],
 'AL091966': ['INEZ',
  1966,
  'north_atlantic',
  140,
  20,
  75.56818181818181,
  nan,
  nan,
  nan,
  datetime.datetime(1966, 9, 21, 12, 0),
  datetime.datetime(1966, 10, 11, 12, 0)],
 'AL102013': ['INGRID',
  2013,
  'north_atlantic',
  75,
  20,
  47.95454545454545,
  1008,
  983,
  995.0454545454545,
  datetime.datetime(2013, 9, 12, 6, 0),
  datetime.datetime(2013, 9, 17, 6, 0)],
 'AL081955': ['IONE',
  1955,
  'north_atlantic',
  120,
  25,
  59.78260869565217,
  nan,
  nan,
  nan,
  datetime.datetime(1955, 9, 10, 6, 0),
  datetime.datetime(1955, 9, 27, 0, 0)],
 'AL312020': ['IOTA',
  2020,
  'north_atlantic',
  135,
  25,
  63.65384615384615,
  1009,
  917,
  979.1538461538462,
  datetime.datetime(2020, 11, 12, 12, 0),
  datetime.datetime(2020, 11, 18, 12, 0)],
 'AL092011': ['IRENE',
  2011,
  'north_atlantic',
  105,
  40,
  70.34883720930233,
  1006,
  942,
  969.9302325581396,
  datetime.datetime(2011, 8, 21, 0, 0),
  datetime.datetime(2011, 8, 30, 0, 0)],
 'AL112001': ['IRIS',
  2001,
  'north_atlantic',
  125,
  25,
  66.5909090909091,
  1011,
  948,
  989.1363636363636,
  datetime.datetime(2001, 10, 4, 12, 0),
  datetime.datetime(2001, 10, 9, 12, 0)],
 'AL112017': ['IRMA',
  2017,
  'north_atlantic',
  155,
  15,
  100.45454545454545,
  1008,
  914,
  953.5909090909091,
  datetime.datetime(2017, 8, 30, 0, 0),
  datetime.datetime(2017, 9, 13, 12, 0)],
 'AL132003': ['ISABEL',
  2003,
  'north_atlantic',
  145,
  25,
  99.82758620689656,
  1009,
  915,
  955.5344827586207,
  datetime.datetime(2003, 9, 6, 0, 0),
  datetime.datetime(2003, 9, 20, 0, 0)],
 'AL102002': ['ISIDORE',
  2002,
  'north_atlantic',
  110,
  20,
  53.81818181818182,
  1009,
  934,
  983.5636363636364,
  datetime.datetime(2002, 9, 14, 18, 0),
  datetime.datetime(2002, 9, 27, 18, 0)],
 'AL092004': ['IVAN',
  2004,
  'north_atlantic',
  145,
  15,
  81.22340425531915,
  1010,
  910,
  965.8829787234042,
  datetime.datetime(2004, 9, 2, 18, 0),
  datetime.datetime(2004, 9, 24, 6, 0)],
 'AL101955': ['JANET',
  1955,
  'north_atlantic',
  150,
  25,
  86.0,
  nan,
  nan,
  nan,
  datetime.datetime(1955, 9, 21, 12, 0),
  datetime.datetime(1955, 9, 30, 12, 0)],
 'AL112004': ['JEANNE',
  2004,
  'north_atlantic',
  105,
  20,
  59.42028985507246,
  1010,
  950,
  984.0579710144928,
  datetime.datetime(2004, 9, 13, 18, 0),
  datetime.datetime(2004, 9, 29, 12, 0)],
 'AL111988': ['JOAN',
  1988,
  'north_atlantic',
  125,
  25,
  63.9622641509434,
  1010,
  932,
  986.9056603773585,
  datetime.datetime(1988, 10, 10, 18, 0),
  datetime.datetime(1988, 10, 23, 6, 0)],
 'AL112015': ['JOAQUIN',
  2015,
  'north_atlantic',
  135,
  15,
  59.14473684210526,
  1012,
  931,
  980.5394736842105,
  datetime.datetime(2015, 9, 26, 18, 0),
  datetime.datetime(2015, 10, 15, 0, 0)],
 'AL152003': ['JUAN',
  2003,
  'north_atlantic',
  90,
  25,
  65.0,
  1009,
  969,
  985.9545454545455,
  datetime.datetime(2003, 9, 24, 12, 0),
  datetime.datetime(2003, 9, 29, 12, 0)],
 'AL122005': ['KATRINA',
  2005,
  'north_atlantic',
  150,
  25,
  74.11764705882354,
  1008,
  902,
  965.6764705882352,
  datetime.datetime(2005, 8, 23, 18, 0),
  datetime.datetime(2005, 8, 31, 6, 0)],
 'AL152000': ['KEITH',
  2000,
  'north_atlantic',
  120,
  20,
  59.0,
  1007,
  939,
  984.6285714285714,
  datetime.datetime(2000, 9, 28, 18, 0),
  datetime.datetime(2000, 10, 6, 12, 0)],
 'AL131990': ['KLAUS',
  1990,
  'north_atlantic',
  70,
  30,
  49.2,
  1008,
  985,
  999.68,
  datetime.datetime(1990, 10, 3, 12, 0),
  datetime.datetime(1990, 10, 9, 12, 0)],
 'AL132020': ['LAURA',
  2020,
  'north_atlantic',
  130,
  20,
  52.26190476190476,
  1008,
  937,
  995.4047619047619,
  datetime.datetime(2020, 8, 20, 0, 0),
  datetime.datetime(2020, 8, 29, 6, 0)],
 'AL161999': ['LENNY',
  1999,
  'north_atlantic',
  135,
  20,
  64.23076923076923,
  1006,
  933,
  983.1282051282051,
  datetime.datetime(1999, 11, 13, 18, 0),
  datetime.datetime(1999, 11, 23, 6, 0)],
 'AL132002': ['LILI',
  2002,
  'north_atlantic',
  125,
  25,
  56.228070175438596,
  1009,
  938,
  990.3157894736842,
  datetime.datetime(2002, 9, 21, 18, 0),
  datetime.datetime(2002, 10, 4, 12, 0)],
 'AL131995': ['LUIS',
  1995,
  'north_atlantic',
  130,
  30,
  93.60655737704919,
  1008,
  935,
  959.0983606557377,
  datetime.datetime(1995, 8, 28, 18, 0),
  datetime.datetime(1995, 9, 12, 18, 0)],
 'AL152017': ['MARIA',
  2017,
  'north_atlantic',
  150,
  30,
  81.3970588235294,
  1016,
  908,
  967.1323529411765,
  datetime.datetime(2017, 9, 16, 12, 0),
  datetime.datetime(2017, 10, 2, 12, 0)],
 'AL151995': ['MARILYN',
  1995,
  'north_atlantic',
  100,
  20,
  51.139240506329116,
  1016,
  949,
  991.8354430379746,
  datetime.datetime(1995, 9, 12, 18, 0),
  datetime.datetime(1995, 10, 1, 18, 0)],
 'AL142016': ['MATTHEW',
  2016,
  'north_atlantic',
  145,
  50,
  101.0,
  1009,
  934,
  959.36,
  datetime.datetime(2016, 9, 28, 12, 0),
  datetime.datetime(2016, 10, 10, 0, 0)],
 'AL142018': ['MICHAEL',
  2018,
  'north_atlantic',
  140,
  25,
  66.57894736842105,
  1006,
  919,
  976.6052631578947,
  datetime.datetime(2018, 10, 6, 18, 0),
  datetime.datetime(2018, 10, 15, 18, 0)],
 'AL152001': ['MICHELLE',
  2001,
  'north_atlantic',
  120,
  30,
  69.85714285714286,
  1006,
  933,
  977.1142857142858,
  datetime.datetime(2001, 10, 29, 18, 0),
  datetime.datetime(2001, 11, 6, 18, 0)],
 'AL131998': ['MITCH',
  1998,
  'north_atlantic',
  155,
  20,
  63.14102564102564,
  1005,
  905,
  978.8205128205128,
  datetime.datetime(1998, 10, 22, 0, 0),
  datetime.datetime(1998, 11, 9, 18, 0)],
 'AL162017': ['NATE',
  2017,
  'north_atlantic',
  80,
  20,
  37.65625,
  1008,
  981,
  998.53125,
  datetime.datetime(2017, 10, 3, 12, 0),
  datetime.datetime(2017, 10, 11, 0, 0)],
 'AL162007': ['NOEL',
  2007,
  'north_atlantic',
  75,
  20,
  44.732142857142854,
  1010,
  965,
  992.8571428571429,
  datetime.datetime(2007, 10, 24, 0, 0),
  datetime.datetime(2007, 11, 6, 0, 0)],
 'AL171995': ['OPAL',
  1995,
  'north_atlantic',
  130,
  25,
  54.61538461538461,
  1004,
  916,
  980.5641025641025,
  datetime.datetime(1995, 9, 27, 18, 0),
  datetime.datetime(1995, 10, 6, 18, 0)],
 'AL162016': ['OTTO',
  2016,
  'north_atlantic',
  100,
  20,
  47.23684210526316,
  1006,
  975,
  996.2105263157895,
  datetime.datetime(2016, 11, 17, 18, 0),
  datetime.datetime(2016, 11, 26, 12, 0)],
 'AL172008': ['PALOMA',
  2008,
  'north_atlantic',
  125,
  20,
  44.166666666666664,
  1010,
  944,
  995.3611111111111,
  datetime.datetime(2008, 11, 5, 18, 0),
  datetime.datetime(2008, 11, 14, 6, 0)],
 'AL182005': ['RITA',
  2005,
  'north_atlantic',
  155,
  20,
  78.47222222222223,
  1009,
  895,
  962.6111111111111,
  datetime.datetime(2005, 9, 18, 0, 0),
  datetime.datetime(2005, 9, 26, 6, 0)],
 'AL191995': ['ROXANNE',
  1995,
  'north_atlantic',
  100,
  25,
  54.642857142857146,
  1011,
  956,
  991.9285714285714,
  datetime.datetime(1995, 10, 7, 18, 0),
  datetime.datetime(1995, 10, 21, 0, 0)],
 'AL182012': ['SANDY',
  2012,
  'north_atlantic',
  100,
  25,
  61.55555555555556,
  1006,
  940,
  971.8666666666667,
  datetime.datetime(2012, 10, 21, 18, 0),
  datetime.datetime(2012, 10, 31, 12, 0)],
 'AL202005': ['STAN',
  2005,
  'north_atlantic',
  70,
  25,
  39.705882352941174,
  1007,
  977,
  998.7058823529412,
  datetime.datetime(2005, 10, 1, 12, 0),
  datetime.datetime(2005, 10, 5, 6, 0)],
 'AL212010': ['TOMAS',
  2010,
  'north_atlantic',
  85,
  30,
  52.407407407407405,
  1006,
  982,
  995.4074074074074,
  datetime.datetime(2010, 10, 29, 6, 0),
  datetime.datetime(2010, 11, 10, 18, 0)],
 'AL252005': ['WILMA',
  2005,
  'north_atlantic',
  160,
  25,
  88.54166666666667,
  1004,
  882,
  956.6666666666666,
  datetime.datetime(2005, 10, 15, 18, 0),
  datetime.datetime(2005, 10, 26, 18, 0)],
 'EP011970': ['ADELE',
  1970,
  'east_pacific',
  75,
  25,
  55.32258064516129,
  nan,
  nan,
  nan,
  datetime.datetime(1970, 5, 30, 12, 0),
  datetime.datetime(1970, 6, 7, 0, 0)],
 'EP012001': ['ADOLPH',
  2001,
  'east_pacific',
  125,
  25,
  73.44827586206897,
  1006,
  940,
  979.2068965517242,
  datetime.datetime(2001, 5, 25, 18, 0),
  datetime.datetime(2001, 6, 1, 18, 0)],
 'EP012008': ['ALMA',
  2008,
  'east_pacific',
  55,
  25,
  40.0,
  1006,
  994,
  1000.125,
  datetime.datetime(2008, 5, 29, 0, 0),
  datetime.datetime(2008, 5, 30, 12, 0)],
 'EP071991': ['FEFA',
  1991,
  'east_pacific',
  105,
  25,
  66.375,
  1009,
  959,
  984.825,
  datetime.datetime(1991, 7, 29, 6, 0),
  datetime.datetime(1991, 8, 8, 0, 0)],
 'EP061978': ['FICO',
  1978,
  'east_pacific',
  120,
  25,
  85.4375,
  nan,
  nan,
  nan,
  datetime.datetime(1978, 7, 9, 0, 0),
  datetime.datetime(1978, 7, 28, 18, 0)],
 'CP012006': ['IOKE',
  2006,
  'east_pacific',
  140,
  25,
  93.19277108433735,
  1012,
  900,
  951.4939759036145,
  datetime.datetime(2006, 8, 17, 0, 0),
  datetime.datetime(2006, 9, 6, 12, 0)],
 'EP122004': ['ISIS',
  2004,
  'east_pacific',
  65,
  25,
  36.15384615384615,
  1011,
  987,
  1003.5769230769231,

In [32]:
# Define the column names for the DataFrame
columns = [
    "storm_name",
    "storm_year",
    "storm_basin",
    "storm_max_wind",
    "storm_min_wind",
    "storm_avg_wind",
    "storm_max_pressure",
    "storm_min_pressure",
    "storm_avg_pressure",
    "storm_start_time",
    "storm_end_time"
]

# Convert the dictionary to a DataFrame
df_additional_hData = pd.DataFrame.from_dict(additional_hData, orient='index', columns=columns)

# Reset the index of the DataFrame
df_additional_hData.reset_index(inplace=True)

# Rename the index column to 'storm_id'
df_additional_hData.rename(columns={'index': 'storm_id'}, inplace=True)

In [33]:
df_additional_hData

,storm_id,storm_name,storm_year,storm_basin,storm_max_wind,storm_min_wind,storm_avg_wind,storm_max_pressure,storm_min_pressure,storm_avg_pressure,storm_start_time,storm_end_time
0,AL021972,AGNES,1972,north_atlantic,75,25,44.714286,NaN,NaN,NaN,1972-06-14 12:00:00,1972-06-23 00:00:00
1,AL031983,ALICIA,1983,north_atlantic,100,20,49.200000,1011.0,962.0,995.480000,1983-08-15 12:00:00,1983-08-21 06:00:00
2,AL041980,ALLEN,1980,north_atlantic,165,25,97.065217,NaN,NaN,NaN,1980-07-31 12:00:00,1980-08-11 18:00:00
3,AL012001,ALLISON,2001,north_atlantic,50,15,26.228070,1012.0,1000.0,1005.964912,2001-06-05 12:00:00,2001-06-19 00:00:00
4,AL041992,ANDREW,1992,north_atlantic,150,20,73.942308,1015.0,922.0,978.750000,1992-08-16 18:00:00,1992-08-28 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
109,EP132013,MANUEL,2013,east_pacific,65,20,40.769231,1004.0,983.0,995.192308,2013-09-13 12:00:00,2013-09-19 18:00:00
110,EP152014,ODILE,2014,east_pacific,120,25,60.675676,1007.0,918.0,980.432432,2014-09-09 12:00:00,2014-09-18 00:00:00
111,CP051997,PAKA,1997,east_pacific,160,20,74.791667,NaN,NaN,NaN,1997-11-28 18:00:00,1997-12-22 12:00:00
112,EP202015,PATRICIA,2015,east_pacific,185,25,83.947368,1007.0,872.0,965.368421,2015-10-20 06:00:00,2015-10-24 12:00:00
113,EP181997,PAULINE,1997,east_pacific,115,25,69.000000,1009.0,948.0,980.100000,1997-10-05 12:00:00,1997-10-10 06:00:00

In [34]:
df_additional_hData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   storm_id            114 non-null    object
 1   storm_name          114 non-null    object
 2   storm_year          114 non-null    int64
 3   storm_basin         114 non-null    object
 4   storm_max_wind      114 non-null    int32
 5   storm_min_wind      114 non-null    int32
 6   storm_avg_wind      114 non-null    float64
 7   storm_max_pressure  86 non-null     float64
 8   storm_min_pressure  86 non-null     float64
 9   storm_avg_pressure  83 non-null     float64
 10  storm_start_time    114 non-null    datetime64[ns]
 11  storm_end_time      114 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int32(2), int64(1), object(3)
memory usage: 9.9+ KB

In [35]:
# Concatenate the two DataFrames
merged_df = pd.concat([df, df_additional_hData], ignore_index=True)

# Drop duplicate rows based on all columns
merged_df.drop_duplicates(subset=merged_df.columns.tolist(), inplace=True)

# Reset the index after dropping duplicates
merged_df.reset_index(drop=True, inplace=True)

# Display the info of the merged DataFrame
merged_df

,storm_id,storm_name,storm_year,storm_basin,storm_max_wind,storm_min_wind,storm_avg_wind,storm_max_pressure,storm_min_pressure,storm_avg_pressure,storm_start_time,storm_end_time
0,AL122005,KATRINA,2005,north_atlantic,150,25,74.117647,1008.0,902.0,965.676471,2005-08-23 18:00:00,2005-08-31 06:00:00
1,AL092017,HARVEY,2017,north_atlantic,115,15,40.067568,1013.0,937.0,997.000000,2017-08-16 06:00:00,2017-09-02 12:00:00
2,AL092022,IAN,2022,north_atlantic,140,30,70.500000,1006.0,937.0,979.775000,2022-09-22 18:00:00,2022-10-01 06:00:00
3,AL152017,MARIA,2017,north_atlantic,150,30,81.397059,1016.0,908.0,967.132353,2017-09-16 12:00:00,2017-10-02 12:00:00
4,AL182012,SANDY,2012,north_atlantic,100,25,61.555556,1006.0,940.0,971.866667,2012-10-21 18:00:00,2012-10-31 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
117,EP132013,MANUEL,2013,east_pacific,65,20,40.769231,1004.0,983.0,995.192308,2013-09-13 12:00:00,2013-09-19 18:00:00
118,EP152014,ODILE,2014,east_pacific,120,25,60.675676,1007.0,918.0,980.432432,2014-09-09 12:00:00,2014-09-18 00:00:00
119,CP051997,PAKA,1997,east_pacific,160,20,74.791667,NaN,NaN,NaN,1997-11-28 18:00:00,1997-12-22 12:00:00
120,EP202015,PATRICIA,2015,east_pacific,185,25,83.947368,1007.0,872.0,965.368421,2015-10-20 06:00:00,2015-10-24 12:00:00
121,EP181997,PAULINE,1997,east_pacific,115,25,69.000000,1009.0,948.0,980.100000,1997-10-05 12:00:00,1997-10-10 06:00:00

In [36]:
hc_df.head()

     hName  Year Category  Adjusted_2023_Cost_BDollars
0  Katrina  2005        3                        195.0
1   Harvey  2017        4                        155.0
2      Ian  2022        4                        115.2
3    Maria  2017        4                        111.6
4    Sandy  2012        1                         85.9

In [37]:
hc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   hName                        52 non-null     object
 1   Year                         52 non-null     int64
 2   Category                     52 non-null     object
 3   Adjusted_2023_Cost_BDollars  52 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ KB

In [38]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   storm_id            122 non-null    object
 1   storm_name          122 non-null    object
 2   storm_year          122 non-null    int64
 3   storm_basin         122 non-null    object
 4   storm_max_wind      122 non-null    int32
 5   storm_min_wind      122 non-null    int32
 6   storm_avg_wind      122 non-null    float64
 7   storm_max_pressure  94 non-null     float64
 8   storm_min_pressure  94 non-null     float64
 9   storm_avg_pressure  91 non-null     float64
 10  storm_start_time    122 non-null    datetime64[ns]
 11  storm_end_time      122 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int32(2), int64(1), object(3)
memory usage: 10.6+ KB

In [39]:
# Convert the 'storm_name' and 'hName' columns to lowercase for case-insensitive merging
merged_df['storm_name_lower'] = merged_df['storm_name'].str.lower()
hc_df['hName_lower'] = hc_df['hName'].str.lower()

# Merge the two DataFrames on the lowercased storm name and year
allStorms_df = pd.merge(merged_df, 
                    hc_df, 
                    left_on=['storm_name_lower', 'storm_year'], 
                    right_on=['hName_lower', 'Year'],
                    how='left')

# Drop the redundant columns and temporary lowercased columns
allStorms_df.drop(columns=['hName_lower', 'Year', 'storm_name_lower'], inplace=True)

# Display the info of the final DataFrame
allStorms_df

,storm_id,storm_name,storm_year,storm_basin,storm_max_wind,storm_min_wind,storm_avg_wind,storm_max_pressure,storm_min_pressure,storm_avg_pressure,storm_start_time,storm_end_time,hName,Category,Adjusted_2023_Cost_BDollars
0,AL122005,KATRINA,2005,north_atlantic,150,25,74.117647,1008.0,902.0,965.676471,2005-08-23 18:00:00,2005-08-31 06:00:00,Katrina,3,195.0
1,AL092017,HARVEY,2017,north_atlantic,115,15,40.067568,1013.0,937.0,997.000000,2017-08-16 06:00:00,2017-09-02 12:00:00,Harvey,4,155.0
2,AL092022,IAN,2022,north_atlantic,140,30,70.500000,1006.0,937.0,979.775000,2022-09-22 18:00:00,2022-10-01 06:00:00,Ian,4,115.2
3,AL152017,MARIA,2017,north_atlantic,150,30,81.397059,1016.0,908.0,967.132353,2017-09-16 12:00:00,2017-10-02 12:00:00,Maria,4,111.6
4,AL182012,SANDY,2012,north_atlantic,100,25,61.555556,1006.0,940.0,971.866667,2012-10-21 18:00:00,2012-10-31 12:00:00,Sandy,1,85.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,EP132013,MANUEL,2013,east_pacific,65,20,40.769231,1004.0,983.0,995.192308,2013-09-13 12:00:00,2013-09-19 18:00:00,NaN,NaN,NaN
118,EP152014,ODILE,2014,east_pacific,120,25,60.675676,1007.0,918.0,980.432432,2014-09-09 12:00:00,2014-09-18 00:00:00,NaN,NaN,NaN
119,CP051997,PAKA,1997,east_pacific,160,20,74.791667,NaN,NaN,NaN,1997-11-28 18:00:00,1997-12-22 12:00:00,NaN,NaN,NaN
120,EP202015,PATRICIA,2015,east_pacific,185,25,83.947368,1007.0,872.0,965.368421,2015-10-20 06:00:00,2015-10-24 12:00:00,NaN,NaN,NaN
121,EP181997,PAULINE,1997,east_pacific,115,25,69.000000,1009.0,948.0,980.100000,1997-10-05 12:00:00,1997-10-10 06:00:00,NaN,NaN,NaN

In [40]:
allStorms_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   storm_id                     122 non-null    object
 1   storm_name                   122 non-null    object
 2   storm_year                   122 non-null    int64
 3   storm_basin                  122 non-null    object
 4   storm_max_wind               122 non-null    int32
 5   storm_min_wind               122 non-null    int32
 6   storm_avg_wind               122 non-null    float64
 7   storm_max_pressure           94 non-null     float64
 8   storm_min_pressure           94 non-null     float64
 9   storm_avg_pressure           91 non-null     float64
 10  storm_start_time             122 non-null    datetime64[ns]
 11  storm_end_time               122 non-null    datetime64[ns]
 12  hName                        50 non-null     object
 13  Category                     50 non-null     object
 14  Adjusted_2023_Cost_BDollars  50 non-null     float64
dtypes: datetime64[ns](2), float64(5), int32(2), int64(1), object(5)
memory usage: 13.5+ KB

In [41]:
allStorms_df.to_csv('./Data_From_Code/allStorms_df.csv')

_____________________________________________________
## ^^ End of Dataset Creation Section ^^  
_____________________________________________________